.menu {
  &__title {
    display: flex;
    align-items: center;
  }

  &__button {
    padding: 0 185px 0 20px;
    height: 55px;
    text-align: center;
    font-family: inherit;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background: linear-gradient(to right, #ff8b00, #ffae00);
    color: #fff;
    transition: box-shadow 0.2s ease-in-out;

    
    &:hover {
      box-shadow: 0 4px 6px rgba(94, 54, 2, 0.52),
        0 0.5px 3px rgba(199, 126, 17, 0.48);
    }
  }

  &__item {
    background-color: #fff;
    border: 0.1px solid #f1f1f1;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: #f5f5f5;
    }
  }
}
