@import "./reset.scss";
@import "./page.scss";
@import "./blocks/header/header.scss";
@import "./blocks/header/top/nav.scss";
@import "./blocks/header/top/link-login.scss";
@import "./blocks/header/info/info.scss";
@import "./blocks/header/info/phones.scss";
@import "./blocks/header/info/callback.scss";
@import "./blocks/utils/vars.scss";
@import "./blocks/header/info/sidebar.scss";
@import "./blocks/header/info/sidebar/compare.scss";
@import "./blocks/header/info/sidebar/favorites.scss";
@import "./blocks/header/info/sidebar/basket.scss";
@import "./blocks/main-navigation/main-nav.scss";
@import "./blocks/main-navigation/menu/menu.scss";
@import "./blocks/main-navigation/menu/burger.scss";
@import "./blocks/main-navigation/menu/link.scss";
@import "./blocks/main-navigation/search-bar/search-bar.scss";

html {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #3b3b3b;
}

body {
  min-height: 100vh;
  padding: 0;
  background: #fff;
}

ul,
li {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}
