.sidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__favorites {
    padding: 5px 25px;
    font-size: 10px;
    font-family: inherit;
    font-weight: 400;
    border-right: 2px solid #e4e4e4;
    border-left: 2px solid #e4e4e4;
    transition: box-shadow 0.2s ease-in-out;

    &:hover {
      box-shadow: 0 1px 2px rgba(94, 54, 2, 0.52),
        0 0.5px 5px rgba(199, 126, 17, 0.48);
    }
  }

  &__compare {
    padding: 5px 25px;
    font-size: 10px;
    font-family: inherit;
    font-weight: 400;
    transition: box-shadow 0.2s ease-in-out;

    &:hover {
      box-shadow: 0 1px 2px rgba(94, 54, 2, 0.52),
        0 0.5px 5px rgba(199, 126, 17, 0.48);
    }
  }

  &__basket {
    padding: 5px 25px;
    font-size: 10px;
    font-family: inherit;
    font-weight: 400;
    transition: box-shadow 0.2s ease-in-out;

    &:hover {
      box-shadow: 0 1px 2px rgba(94, 54, 2, 0.52),
        0 0.5px 5px rgba(199, 126, 17, 0.48);
    }
  }
}
